* {
  margin: 0;
  padding: 0;
}

body {
   background-color: rgba(220,232,237,0.35);
   font-family: 'Andale Mono';
   line-height: 150%;
}

input {
    background: rgba(255,255,255,0.333);
    border: 3px solid white;
    font-size: 13pt;
    margin: 0 0 0 0;
    padding: 0.7%;
}

input[type="text"] {
    display: inline-block;
    width: 83%;
}

input[type="submit"] {
    background: rgba(135,163,227,0.333);
    display: inline-block;
    margin: 0 1% 0 1%;
    width: 7%;
}

ul {
    list-style-type:none;
}

ul > li {
    background-image:url('../excel.png');
    background-repeat:no-repeat;
    background-position:8px 4px;
    line-height: 40px;
    padding-left: 48px;
    vertical-align: middle;

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;

    border-bottom: 1px dashed rgba(128,128,128,0.333);
}

ul > li {
}

#header {
    background-color: #dedddd;
    padding: 1rem 1rem 1rem 0rem;
    text-align: center;
    width: 100%;
}

aside {
    float: left;
    width: 300px;
    min-height: 450px;
    padding-top: 32px;
}

#container {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: 32px; 
}

#primary {
    padding: 32px 32px 32px 300px;
    min-width: 600px;
}

