
* {
  margin: 0;
  padding: 0;
}

body {
   background-color: rgba(220,232,237,0.35);
   font-family: 'Andale Mono';
   line-height: 150%;
}

input {
    background: rgba(255,255,255,0.333);
    border: 3px solid white;
    font-size: 13pt;
    margin: 0 0 0 0;
    padding: 0.7%;
}

input[type="checkbox"] {
    margin-left: -42px;
 /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5);
}

input[type="text"] {
    display: inline-block;
    width: 400px;
    float: right;
}

input[type="submit"] {
    background: rgba(135,163,227,0.333);
    display: inline-block;
    margin: 0 1% 0 1%;
    width: 75px;
}

ul {
    list-style-type:none;
    background-color: rgba(128,128,128,0.111);

}

ul > li > label {
    margin-left: 44px;
    color: blue;
    text-decoration: underline;
}

ul > li {
    display: inline-block;

    background-image:url('../excel.png');
    background-repeat:no-repeat;
    background-position:28px 4px;
    
    line-height: 40px;
    padding-left: 48px;
    vertical-align: middle;

    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;

    border-bottom: 1px dashed rgba(128,128,128,0.333);
}

h3 {

    font-size: 24pt;
    line-height: 100%;
    vertical-align: center;
    display: inline-block;
    padding-left: 12px;
    padding-top: 8px;
}

#header {
    overflow: hidden;
    background-color: #dedddd;
    padding: 1rem 1rem 1rem 0rem;
    width: 100%;
}

aside {
    /*float: left;
    width: 250px;*/
    /*min-height: 250px;*/
    padding-top: 32px;
}

#container {
    /*min-height: 100%;
    margin-bottom: 32px; */
}

#primary {
    /* padding: 32px 32px 32px 300px;
    min-width: 600px;*/
}



#dnd {
    border: 10px dashed #ccc; 
    width: 100%; 
    height: 150px; 
    margin: 20px auto;

}

#dnd.hover { 
    border: 10px dashed #333; }

